.cinema {
    position: absolute;
    top: 37%;
    left: 43%;
    transform: translate(-50%, -50%); 
    width: 70%; 
    height: 600px;
    border-radius: 50%; 
    background-color: #00FF01; 
}

.botaoAnsiedade {
    background-color: #E86327;
    color: #f7c5bd;
    border: none;
}

.botaoTedio {
    background-color: #003A87;
    color: #00B0EB;
    border: none;
}